<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
  </head>

  <body background="img/login_background.png">
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-6 mx-auto" style="background-color: rgba(0,0,0,0.3)">
          <div class="row mt-5">
            <div class="col text-center">
              <h1 class="text-white">Welcome to My Network</h1>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col text-center">
              <h4 class="text-white">
                This is a sample One-Click Login portal
              </h4>
            </div>
          </div>
          <div class="row mt-5 mb-5">
            <div class="col text-center">
              <button class="btn btn-primary">
                <a href="http://1.2.3.4:2060/auth?token=thisisarandomtoken" class="text-white">Connect</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>